{% extends 'base.html' %}
{% block content %}
<div class="card shadow p-4 mb-4">

<form method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    
    <div class="row justify-content-md-center mb-3">

        <div class="col col-lg-5"> <!-- First Column-->
            <div class="card p-2 mb-2"> <!-- Contract Info card-->
                <div class="card-header mb-3"><h4>Contract Info</h4></div>
                <fieldset class="form-group"> <!-- No, Title, Description, DPA/DSA, PIC -->
                    <div class="form-group">
                        {{ form.contract_no.label(class="form-control-label") }}

                        {% if form.contract_no.errors %}
                            {{ form.contract_no(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_no.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_no(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        
                        {{ form.contract_title.label(class="form-control-label") }}

                        {% if form.contract_title.errors %}
                            {{ form.contract_title(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_title(class="form-control") }}
                        {% endif %}

                    </div>
                    <div class="form-group">
                        
                        {{ form.contract_description.label(class="form-control-label") }}

                        {% if form.contract_description.errors %}
                            {{ form.contract_description(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_description(class="form-control") }}
                        {% endif %}

                    </div>                    
                    <div class="form-group">
                        
                        {{ form.contract_form.label(class="form-control-label") }}
                        {{ form.contract_form(class="form-select") }}
                    </div>
                    
                    <div class="form-group">
                        
                        {{ form.PIC_id.label(class="form-control-label") }}

                        {% if form.PIC_id.errors %}
                            {{ form.PIC_id(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.PIC_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.PIC_id(class="form-control") }}
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        
                        {{ form.PIC_team.label(class="form-control-label") }}
                        {% if form.PIC_team.errors %}
                            {{ form.PIC_team(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.PIC_team.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.PIC_team(class="form-control") }}
                        {% endif %}
                        
                    </div>
                </fieldset>
            </div>
        </div> <!--End of First Column-->

        <div class="col col-lg-5"> <!-- Second Column-->
        
            <div class="card p-2 mb-2"> <!-- Card Contract Status-->
                <div class="card-header mb-3"><h4>Contract Status</h4></div>
                <fieldset class="form-group">
                    <div class="mb-2">
                        <label>Contract Status</label>
                        {{ form.contract_status.label(class="form-label") }}
                        {{ form.contract_status(class="form-select") }}
                    </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-2">
                                    <label>Signed Date</label>
                                    {{ form.signed_date.label(class="form-label") }}
                                    {{ form.signed_date(class="form-control") }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check mb-2">
                                    {{ form.system_registered(class="form-check-input") }}
                                    {{ form.system_registered.label(class="form-check-label") }}
                                </div>
                                <div class="form-check mb-2">
                                    {{ form.HQ_reported(class="form-check-input") }}
                                    {{ form.HQ_reported.label(class="form-check-label") }}
                                </div>
                            </div>
                        </div>
                </fieldset>
            </div>

            <div class="card p-2"> <!--Card Documents Upload-->
                <div class="card-header mb-1"><h4>Contract Documents</h4></div>
                <fieldset class="form-group">
                    <div class="mb-3">
                        {{ form.files.label(class="form-label") }}
                        {{ form.files(class="form-control") }}
                    </div>
                </fieldset>
            </div>

            <div class="card p-2 mb-2"> <!-- Card Partner Info-->
                <div class="card-header mb-3"><h4>Partner Info</h4></div>
                <fieldset class="form-group">
                    <div class="mb-2">
                        <label>Company Name</label>
                        {{ partner_form.partner_name.label(class="form-label") }}
                        {{ partner_form.partner_name(class="form-control") }}
                    </div>
                    <div class="mb-2">
                        <label>Tax Number</label>
                        {{ partner_form.tax_number.label(class="form-label") }}
                        {{ partner_form.tax_number(class="form-control") }}
                    </div>
                </fieldset>

            </div>

        </div> <!--End Of Second Column-->

    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </div>
    
</form>    
</div>
{% endblock %}