{% extends 'base.html' %}
{% block content %}
<!-- jQuery for Partner autocomplete -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="card shadow p-4 mb-4">

<form method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    
    <div class="row justify-content-md-center mb-3">

        <div class="col col-lg-5"> <!-- First Column-->
            <div class="card p-2 mb-2"> <!-- Contract Info card-->
                <div class="card-header mb-3"><h4>Contract Info</h4></div>
                <fieldset class="form-group"> <!-- No, Title, Description, DPA/DSA, PIC -->
                    <div class="form-group">
                        {{ form.contract_no.label(class="form-control-label") }}

                        {% if form.contract_no.errors %}
                            {{ form.contract_no(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_no.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_no(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        
                        {{ form.contract_title.label(class="form-control-label") }}

                        {% if form.contract_title.errors %}
                            {{ form.contract_title(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_title(class="form-control") }}
                        {% endif %}

                    </div>
                    <div class="form-group">
                        
                        {{ form.contract_description.label(class="form-control-label") }}

                        {% if form.contract_description.errors %}
                            {{ form.contract_description(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.contract_description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.contract_description(class="form-control") }}
                        {% endif %}

                    </div>                    
                    <div class="form-group">
                        
                        {{ form.contract_form.label(class="form-control-label") }}
                        {{ form.contract_form(class="form-select") }}
                    </div>
                    
                    <div class="form-group">
                        
                        {{ form.PIC_id.label(class="form-control-label") }}

                        {% if form.PIC_id.errors %}
                            {{ form.PIC_id(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.PIC_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.PIC_id(class="form-control") }}
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        
                        {{ form.PIC_team.label(class="form-control-label") }}
                        {% if form.PIC_team.errors %}
                            {{ form.PIC_team(class="form-control is-invalid required") }}
                            <div class="invalid-feedback">
                                {% for error in form.PIC_team.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.PIC_team(class="form-control") }}
                        {% endif %}
                        
                    </div>

                    <div class="card p-2 mt-2"> <!--Card Documents Upload-->
                        <div class="card-header mb-1"><h4>Contract Documents</h4></div>
                        <fieldset class="form-group">
                            <div class="mb-3">
                                {{ form.files.label(class="form-label") }}
                                {{ form.files(class="form-control") }}
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div> <!--End of First Column-->

        <div class="col col-lg-5"> <!-- Second Column-->
        
            <div class="card p-2 mb-2"> <!-- Card Contract Status-->
                <div class="card-header mb-3"><h4>Contract Status</h4></div>
                <fieldset class="form-group">
                    <div class="mb-2">
                        <label>Contract Status</label>
                        {{ form.contract_status.label(class="form-label") }}
                        {{ form.contract_status(class="form-select") }}
                    </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-2">
                                    <label>Signed Date</label>
                                    {{ form.signed_date.label(class="form-label") }}
                                    {{ form.signed_date(class="form-control") }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check mb-2">
                                    <div class="form-check form-switch">
                                        {{ form.system_registered(class="form-check-input") }}
                                        {{ form.system_registered.label(class="form-check-label") }}
                                    </div>
                                </div>
                                <div class="form-check mb-2">
                                    <div class="form-check form-switch">
                                        {{ form.HQ_reported(class="form-check-input") }}
                                        {{ form.HQ_reported.label(class="form-check-label") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
            </div>

            <div class="card p-2 mb-2"> <!-- Card Partner Info-->
                <div class="card-header mb-3"><h4>Partner Info</h4></div>
                <fieldset class="form-group">
                    <div class="mb-2">
                        
                        {% if form.partner_name.errors %}
                            {{ form.partner_name(class="form-control is-invalid required", id="partnerInput", placeholder="Start typing company name") }}
                            <div class="invalid-feedback">
                                {% for error in form.partner_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.partner_name(class="form-control", id="partnerInput", placeholder="Start typing company name") }}
                        {% endif %}
                        
                    </div>
                    <div class="mb-2">
                        
                        {% if form.tax_no.errors %}
                            {{ form.tax_no(class="form-control is-invalid required", id="taxNo", placeholder="Start typing tax/registration number") }}
                            <div class="invalid-feedback">
                                {% for error in form.tax_no.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.tax_no(class="form-control", id="taxNo", placeholder="Start typing tax/registration number") }}
                        {% endif %}
                                                
                    </div>
                    
                </fieldset>

                <!-- Button trigger modal -->
                 <div class="container mt-2">
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary mr-4" data-bs-toggle="modal" data-bs-target="#newPartnerModal">
                            New Partner
                        </button>
                        <button type="button" class="btn btn-primary ml-4" data-bs-toggle="modal" data-bs-target="#PartnerListModal">
                            Choose Partner
                        </button>
                    </div>
                </div>

            </div>

        </div> <!--End Of Second Column-->

    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </div>
    
</form>    
</div>

<!-- Inject template with a modal window for new partner -->
 {% include 'new_partner_modal.html' %}

 <!-- Inject template with a modal partners list -->
  {% include 'choose_partner_modal.html' %}

<!-- Partner Autocomplete Script-->

<script>
    $(document).ready(function() {
        // Prepare the partners data for autocomplete
        var partners = {{ partners|tojson }}; // Convert the partners list to JSON
        var tax_no_list = {{ tax_no_list|tojson }};

        // Initialize autocomplete
        $("#partnerInput").autocomplete({
            source: partners,
            minLength: 2, // Minimum characters before autocomplete starts
            select: function(event, ui) {
                // Populate the input with the selected value
                $("#partnerInput").val(ui.item.label); // Set the input value to the selected label
                $("#taxNo").val(ui.item.value)
                // document.getElementById('partnerInput').disabled = true;
                document.getElementById('taxNo').disabled = true;
                return false; // Prevent the default behavior
            }
        });

        $( "#partnerInput" ).on( "keydown", function() {
            document.getElementById('taxNo').disabled = false;
        } );
        $( "#taxNo" ).on( "keydown", function() {
            document.getElementById('partnerInput').disabled = false;
        } );

        //second autocomplete
        $("#taxNo").autocomplete({
            source: tax_no_list,
            minLength: 2, // Minimum characters before autocomplete starts
            select: function(event, ui) {
                // Populate the input with the selected value
                $("#partnerInput").val(ui.item.value); // Set the input value to the selected label
                $("#taxNo").val(ui.item.label)
                document.getElementById('partnerInput').disabled = true;
                // document.getElementById('taxNo').disabled = true;
                return false; // Prevent the default behavior
            }
        });
    });
</script>


{% endblock %}